extends layout
append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/error.css")
    script(src="/javascripts/index.js" type="module" defer)
block content
    .body-encapsulation
        .ErrorContent
            h1 404 Error
            h2 Please make sure you are trying to reach the correct url and try again. If you continue to reach this page, please contact us at the links found at the bottom of the page.
            button(onclick=`window.location.href='/'`) Back To Home
