extends layout
block content
    append head
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="/javascripts/index.js" type="module" defer)
    h1 404 Error
    ul: h2 reasons for this error
        each error in errors
            li= error
