.footer
    .ben
        h3.footer-name Ben Rose
        a(href="https://github.com/benthere914", target="_blank", rel="noopener noreferrer")
            .github
        a(href="https://www.linkedin.com/in/benjamin-rose-0a6880202/", target="_blank", rel="noopener noreferrer")
            .linkedin
    .Parker
        h3.footer-name Parker Bolick
        a(href="https://github.com/parkerbo", target="_blank", rel="noopener noreferrer")
            .github
        a(href="https://www.linkedin.com/in/parkerbolick/", target="_blank", rel="noopener noreferrer")
            .linkedin

    .Nick
        h3.footer-name Nick Frase
        a(href="https://github.com/nkfrs3", target="_blank", rel="noopener noreferrer")
            .github
        a(href="https://www.linkedin.com/in/nick-frase-2235a220a/", target="_blank", rel="noopener noreferrer")
            .linkedin
