.footer
    .ben
        h3 Ben Rose
        img(src="https://cdn-icons-png.flaticon.com/512/25/25231.png", onclick=`window.location.href='https://github.com/benthere914'`)
        img(src="https://dwglogo.com/wp-content/uploads/2020/06/Linkedin_symbol_transparent.png", onclick=`window.location.href='https://www.linkedin.com/in/shaquilleoneal/'`)
    .Parker
        h3 Parker Bolick
        img(src="https://cdn-icons-png.flaticon.com/512/25/25231.png" onclick=`window.location.href='https://github.com/parkerbo'`)
        img(src="https://dwglogo.com/wp-content/uploads/2020/06/Linkedin_symbol_transparent.png", onclick=`window.location.href='https://www.linkedin.com/in/shaquilleoneal/'`)
    .Nick
        h3 Nick Frase
        img(src="https://cdn-icons-png.flaticon.com/512/25/25231.png" onclick=`window.location.href='https://github.com/nkfrs3'`)
        img(src="https://dwglogo.com/wp-content/uploads/2020/06/Linkedin_symbol_transparent.png", onclick=`window.location.href='https://www.linkedin.com/in/shaquilleoneal/'`)


