extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

  div.topics-container
    each topic in topics
      div.topics topic.name
    div.social
      a(href="") Ben's links
      a(href="") Parker's
      a(href="") Nick's
  div.blogs-container
    each post in posts
      div.blog
        h3 post.title
        p post.content
