doctype html
html
  head
    block head
      title="Equilibrium"
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel="shortcut icon", href="/stylesheets/equil-favicon.png", type="image/x-icon")
  body
    include navbar.pug
    block content
