append head
  link(rel="stylesheet" href="/stylesheets/modal.css")
  link(rel="stylesheet" href="/stylesheets/modal-forms.css")
  script(src="/javascripts/nav-bar.js" type="module")
  script(src="/javascripts/log-in.js" type="module")
  script(src="/javascripts/sign-up.js" type="module")
div.nav-bar
  h1
    a(href="/") Equilibrium
  ul
    if loggedIn
      li
        form(action="/log-out" method="POST")
          input(type="hidden" autocomplete="off").sign-up-modal-trigger.log-in-modal-trigger
          input(type="submit" value="Log Out" class="" autocomplete="off").input.link
      li
        a(href="/posts/create").link Write a Story
      li

        a(href=`/users/${userId}`).link Profile

    else
      li.sign-up-modal-trigger Sign Up
      li.log-in-modal-trigger Log In
      li.demo-login
        form(action="/log-in-demo" method="POST")
          input(type="submit" value="Demo" class="" autocomplete="off").link
div(class="log-in-modal")
  div(class="modal-content")
    h2 Log-In to Equilibrium
    div(class="log-in-errors-container")
    form(class="log-in-form")
      input(type="hidden" name='_csrf' value=csrfToken autocomplete="off")
      label(for="username") Username
      input(type="text" name="username" autocomplete="username")
      label(for="password") Password
      input(type="password" name="password" autocomplete="current-password")
      input(type="submit" value="Log In")
div(class="sign-up-modal")
  div(class="modal-content")
    h2 Sign-Up
    div(class="sign-up-errors-container")
    form(class="sign-up-form")
      input(type="hidden" name='_csrf' value=csrfToken)
      label(for="username") Username
      input(type="text" name="username" autocomplete="username")
      label(for="password") Password
      input(type="password" name="password" autocomplete="new-password")
      label(for="confirmPassword") Confirm Password
      input(type="password" name="confirmPassword" autocomplete="confirm-password")
      input(type="submit" value="Sign Up")
