ul
  if loggedIn
    li
      form(action="/log-out" method="POST")
        input(type="submit" value="Log Out" class="")
    li
        form(action="/users/:username" method="GET")
            input(type="submit" value="Profile" class="")
  else
    li
        form(action="/sign-up" method="GET")
            input(type="submit" value="Sign Up" class="")
    li
        form(action="/log-in" method="GET")
            input(type="submit" value="Log in" class="")
    li
        form(action="/log-in-demo" method="POST")
            input(type="submit" value="Demo" class="")
    
