ul
  if loggedIn
    li
      form(action="/log-out" method="POST")
        input(type="submit" value="Log Out" class="")
    li
      a(href="/users/:username" ) Profile
  else
    li
      a(href="/sign-up") Sign Up
    li
      a(href="/log-in") Log In
    li
      a(href="/log-in-demo") Demo
