link(rel="stylesheet" href="/stylesheets/quote.css")

div.container
  <p>WILDERNESS WITHOUT WILDLIFE IS JUST SCENERY. - LOIS CRISLER</p>
  <p>ONE TOUCH OF NATURE MAKES THE WHOLE WORLD KIN. WILLIAM SHAKESPEARE</p>
  <p>BORN A WILDLIFE WARRIOR, DIE A WILDLIFE WARRIOR. STEVE IRWIN</p>
  <p>IF A MAN ASPIRES TOWARDS A RIGHTEOUS LIFE, HIS </p>
  <p>FIRST ACT OF ABSTINENCE IS FROM INJURY TO ANIMALS. ALBERT EINSTEIN</p>
  <p>ALL MY  THE NEW SIGHTS OF NATURE MADE ME REJOICE LIKE A CHILD. -MARIE CURIE.</p>
  <p>WILDERNESS WITHOUT WILDLIFE IS JUST SCENERY. - LOIS CRISLER</p>
  <p>ONE TOUCH OF NATURE MAKES THE WHOLE WORLD KIN. WILLIAM SHAKESPEARE</p>
  <p>BORN A WILDLIFE WARRIOR, DIE A WILDLIFE WARRIOR. STEVE IRWIN</p>
  <p>IF A MAN ASPIRES TOWARDS A RIGHTEOUS LIFE, HIS FIRST ACT OF</p>
  <p> ABSTINENCE IS FROM INJURY TO ANIMALS. ALBERT EINSTEIN</p>
  <p>ALL MY LIFE SIGHTS OF NATURE MADE ME REJOICE LIKE</p>
  <p>
    SPONGY GRASS IS MORE WELCOME THAN THE MOST LUXU</p>
  <p>
    LOOK DEEP INTO NATURE, AND THEN YOU WILL UNDERSTAND EVERYTHING </p>
  <p>BORN A WILDLIFE WARRIOR, DIE A WILDLIFE WARRIOR. STEVE IRWIN</p>
  <p>IF A MAN ASPIRES TOWARDS A RIGHTEOUS LIFE,IS FROM</p>
  <p>ALL MY LIFE SIGHTS OF NATURE MADE ME REJOICE LIKE A CHILD. -MARIE CURIE.</p>
  <p>TO ME A LUSH CARPET OF PINE NEEDLES</p>
  <p>LOOK DEEP INTO NATURE, AND THEN </p>
  <p>WILDERNESS WITHOUT WILDLIFE IS</p>
  <p>LUSH CARPET OF PINE NEEDLES</p>
  <p>BORN A WILDLIFE WARRIOR</p>
  <p>RIGHTEOUS LIFE</p>
  <p>DIE A WILDLIFE WARRIOR</p>
  <p>SPONGY GRASS</p>
  <p>LUXURIOUS PERSIAN RUG</p>
  <p>YOSEMITE NATIONAL PARK</p>
  <p>RIGHTEOUS LIFE</p>
  <p>DIE A WILDLIFE WARRIOR</p>
  <p>ONE TOUCH OF</p>
  <p>WILL UNDERSTAND EVERYTHING</p>
  <p>RIGHTEOUS LIFE</p>
  <p>OBLIGATION TO SPEAK</p>
  <p>CAN ONLY BE PROTECTED</p>
