extends layout
block content
  div(class="errors-container")
  h2 Sign-Up
    form(class="sign-up-form")
      input(type="hidden" name='_csrf' value=csrfToken)
      label(for="username") Username
      input(type="text" name="username" )
      label(for="password") Password
      input(type="password" name="password")
      label(for="confirmPassword") Confirm Password
      input(type="password" name="confirmPassword")
      button(type="submit") Sign Up
  script(src="./javascripts/sign-up.js")
