    h1.userName {
        padding: 115px 0 20px 20px;
        font-size: 1.5em;
    }

.mainContent {
    display: grid;
    grid-template-columns: 12em 17em 1fr 0.5fr 1fr;
    grid-template-rows: 10em 10em 1fr;
    grid-template-areas: "author author .  . ."
                        "author author form form errors"
                        ". button form form .";
                        padding-bottom: 125px;

    }
    h2.form-title {
        background-color: transparent;
        font-family:'Courier New', Courier, monospace;
        font-weight: 800;
        letter-spacing: -2.7px;
        font-size: 2.7em;
    }

    div.author {
        grid-area: author;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        align-items: center;
        margin-top: 50px;
    }
    .accountEditForm  {
    display: flex;
    flex-direction: column;
    background-color: #B08666;
    max-width: 60%;
    min-width: 30em;
    padding: 1.7em 1em;
    position: relative;
    grid-area: form;
    place-self: center center;
    box-sizing: border-box;
    box-shadow: 5px 10px 5px 10px rgb(39, 38, 38);
    }

    input[type=text]{
    padding: 1.5em 0;
    max-height: 100px;
    }

    input[type=password]{
        max-height: 2.3em;
    }
.profileImg {
    display: inline-block;
    /* padding-top: 105px; */
    grid-area: image;
}
.profileImg img {
    height: 150px;
    object-fit: contain;
    margin-left: 5px;
    align-self: center center;
    border-radius: 100px;
}
.accountEditForm input,textarea{
    margin-left: 5px;
    padding-top: 3px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: black solid 1px;
    box-shadow: inset -5px -5px 7px 2px rgb(87, 86, 81);
    resize: none;
    min-width: 80%;
    min-height: 0.8em;
    max-width: 400px;
    border-radius: 15px;
    text-indent: 0.2em;
    line-height: 1.4em;
    font-family: inherit;

}

.accountEditForm input:focus,textarea:focus{
    border: 3px solid rgba(31, 30, 30, 0.8);
    outline: none;
}

.mainContent form {
    border-radius: 10px;
    background-image: url('../images/High-Res-Seamless-Oak-Wood-Texture-Background.jpg');
    font-family:'Courier New', Courier, monospace;
}
.accountEditForm textarea {
    min-height: 7em;
    text-align: center;
}
.saveButtons {
    margin: auto;
    margin-top: 1em;
}
.saveButtons *:focus {
    outline: none;
    border: rgb(0, 0, 0) solid 2px;
}

.accountEditForm label{
    margin: 0.5em, 0, 0.2em 1em;
    font-size: 1em;
    padding: 7px 0 0px 10px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.submitEditForm, .goBackButton {
    border: none;
    margin: 10px;
    padding: 1em 2.5em;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1em;
}
.submitEditForm{
    padding: 1em 2.3em;
}
.submitEditForm:hover {
    background-color: chartreuse;

}
.goBackButton:hover {
    background-color: white;
    color: black;
}
.errorsContainer {
    background-color: black;
    padding: 1em;
    grid-area: errors;
    margin: 0 100px 0px 2px;

    max-width: 500px;
    overflow: hidden;
    height: fit-content;

}
.errorsContainer div {
    color: red;
    font-size: 0.9em;
}
.deleteAccount {
    box-sizing: border-box;
    padding: 0.6em 1.1em;
    background-color: #000108;
    color:white;
    grid-area: button;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 8px;

}

.deleteAccount:hover, .deleteAccount:focus {
    background-color: #f51010;
    color: white;
    outline: none;
}
