h1.userName {
    padding: 115px 0 20px 20px;
    font-size: 1.5em;
}

.mainContent {
    display: grid;
    grid-template-columns: 12em 15em 1fr 1fr 1fr;
    grid-template-rows: 10em 10em 1fr;
    grid-template-areas: "name . .  . errors"
                        "image . form form errors"
                        "button . form form .";
                        padding-bottom: 75px;

}
.accountEditForm  {
    display: flex;
    flex-direction: column;
    background-color: #B08666;
    max-width: 60%;
    min-width: 30em;
    padding: 2em 1em;
    position: relative;
    grid-area: form;
    place-self: center start;

}

.profileImg {
    display: inline-block;
    /* padding-top: 105px; */
    grid-area: image;
}
.profileImg img {
    height: 150px;
    object-fit: contain;
    margin-left: 5px;
    align-self: center center;
}
.accountEditForm input,textarea{
    margin-left: 5px;
    color: black;
    font-size: 18px;
    font-weight: 300;
    border: black solid 2px;
    resize: none;
    min-width: 80%;
    /* max-height: 1.5em; */
    min-height: 0.8em;
    max-width: 400px;
    border-radius: 15px;
    outline: none;
}
.mainContent form {
    border-radius: 10px;
    background-image: url('../images/High-Res-Seamless-Oak-Wood-Texture-Background.jpg');
}
.accountEditForm textarea {
    min-height: 3em;
}
.saveButtons {
    margin: auto;
}
.accountEditForm label{
    margin: 0.5em, 0, 0.2em 1em;
    font-size: 1em;
    padding: 7px 0 0px 10px;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -0.5px;
}
.submitEditForm, .goBackButton {
    border: none;
    margin: 10px;
    padding: 5px 15px;
    background-color: #283F0D;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}
.submitEditForm {
    font-size: 1em;
}
.submitEditForm:hover, .goBackButton:hover {
    background-color: rgb(93, 211, 70);

}
.errorsContainer {
    background-color: black;
    padding: 10px 5px;
    grid-area: errors;
    margin: 100px 2px 0px 2px;
    max-height: 30%;
    max-width: 500px;
    overflow: hidden;
    height: fit-content;
    margin-right: 0.5em;

}
.errorsContainer div {
    color: red;
    font-size: 0.9em;
}
.deleteAccount {
    box-sizing: border-box;
    padding: 0.6em 1.3em;
    background-color: #f51010;
    grid-area: button;
    font-size: 0.7em;
    font-weight: 700;
    margin: 30px 3px 13px 5px;
    place-self: start start;
    cursor: pointer;
    border: 1px solid black;


}
.deleteAccount:hover {
    background-color: #c53e3e;
}
