.container{
    display: flex;
    flex-direction: column;
    background-color: #B08666;
    max-width: 60%;
    position: relative;
    left: 400px;
    top: 300px;
    margin-bottom: 600px;
    padding: 2em 1em;
    height: 100%;
    color: black;
}

.container input{
    color: black;
}
