.ErrorContent{
    position: relative;
    top: 200px;
    left: 27%;
    width:  45%;
    text-align: center;
}
.ErrorContent h2{
    position: relative;
    top: 40px;
}
button{
    position: relative;
    left: 850px;
    top: 300px;
    width: 200px;
    height: 55px;
    border-radius: 5%;
    opacity: 0.8;
    transition: 0.1s;
    cursor: pointer;
}

button:hover{
    opacity: 1;
}


