.footer{
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    background-color: #B08666;
    width: 100%;
    bottom: 0;
}

.footer * img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.footer > div{
    display: flex;
    align-items: center;
}

.footer > div > *{
    padding-left: 10px;
    padding-right: 10px;
}

.footer > div > img{
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
    height: 35px;
    width: 40px;
}

body {
    min-height: 100vh;
    position: relative;
}
