.footer{
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #B08666;
    width: 100%;
    bottom: 0;
    margin-top: 100px;
    border-top: 2px solid black;
}

.footer > div{
    display: flex;
    align-items: center;
    position: relative;
}
.footer  h3.footer-name {
    justify-content: space-evenly;
    flex: 1 1 25%;
    font-size: 1em;
    margin-right: 5px;
    font-weight: 600;
    letter-spacing: -1px;

}
body {
    min-height: 100vh;
    position: relative;
}

.footer a {
    margin-right: 9px;
}

.footer .github{
    background-image: url("../images/github-logo.png");
    height: 25px;
    width: 25px;
    background-size: contain;
}

.footer .linkedin{
    background-image: url("../images/linkedin.png");
    height: 25px;
    width: 25px;
    background-size: contain;
}
