*{
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: #C3C1AB;
    width: 100vw;
  }
.nav-bar h1 {
margin-left: 2em;
margin-right: auto;
color: #a34528;
}
.nav-bar a,input, li {
margin: 10px;
display: inline-block;
margin-left: auto;
padding: 5px;
color: #a34528;
border: none;
font-weight: 800;
font-size: 1em;
background-color: #C3C1AB;
}
.main-body {
    display: flex;
    flex-direction: row-reverse;
}
.topics-container {
    display: flex;
    margin-left: auto;
    background-color: rgba(163, 69, 40, 0.25);
    /* display: block; */
    max-width: 30%;
    padding: 0px;
    position: relative;
    min-height: 50vh;
    max-height: 80vh;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y:hidden;
}
 h2 {margin-top: 0;
     text-align: center;
     font-weight: 600;
     padding: 0.6em;
     background-color: rgba(163, 69, 40, 0.75);
     width:100%;

 }
.topics-container div[id^=topic] {
    display: inline-block;
    padding: 1.3em;
    border: 1px solid black;
    border-radius: 30%;
    margin: 2px;
    order: 2;
}
.topics-container a {
    padding: 5px;
    display:block;
    margin-left: 0.5em;
}
.social {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width:100%;
    align-self: flex-end;
    order:3;
}
.social::before {
    content: "Created By";
    background-color: rgba(163, 69, 40, 0.75);
    color: white;
    margin-bottom: 5px;
    width: 100%;
    height: 15px;
    z-index: 2;
    padding-left: 1em;
}
.social a[href*=github]::after {
    content: url("./github-logo.png");
    margin-left: 1em;
    display: inline-block;
}
.social a[href*=github] {
    width: 35%;
    display: inline-block;
}
.linkedIn {
    display: inline-block;
    width: 15%;
}
.social a[href*=link]::before {
    content: url("./linkedin.png");
    padding-left: 1em;
}
.ben,.nick,.parker {
    display: flex;
}


.blogs-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
h3 {
    font-weight: bold;
}
h4 {
    font-size: 0.8em;
}

.blog{
    width: 700px;
    margin: 10px 0 10px 20%;
    border: solid blue 1px;
}

.blog div{
    height: 250px;
    width: 300px;
    background-color: brown;
}

.toggled {
    background-color: black;
}
