
.sign-up-form input {
    background-color: white;
    border: 1px solid black;
}
.log-in-form input {
    background-color: white;
    border: 1px solid black;
}
*{
    box-sizing: border-box;
}


h2{
    font-size: 2em;
}
.sign-up-errors-container, .log-in-errors-container {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    border-radius: 5px;
    width: 100%;
}
.err_msg{
    font-weight: 800;
}
