.sign-up-modal{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0 auto;
}
.start-writing-modal{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0 auto;
}
.log-in-form input {
    color: black;
}
.sign-up-form input {
    color: black;
}
.start-writing-form input {
    color: black;
}
.log-in-modal{
   position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0 auto;

}

.modal-content{
  padding: 3px 30px 30px 30px;
  max-width: 350px;
  width: 100%;
  background-color: #F7F7F7;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.modal-content h2{
    text-align: center;
  font-size: 1.8em;
  background-color: transparent;
}
.modal-content input[type=text], input[type=password] {
    height: 50px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}
.modal-content input[type=submit] {
    height: 50px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #283F0D;
  color: white;
}
.modal-content input[type=submit]:hover {
    cursor: pointer;
    background-color:#42631bf7 ;
}

.sign-up-modal-trigger{
    cursor: pointer;
}
.sign-up-modal-trigger:hover{
    text-decoration: underline;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: fit-content;

}
.log-in-modal-trigger{
    cursor: pointer;
}
.log-in-modal-trigger:hover{
    text-decoration: underline;
}
