.body{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    padding-top: 100px;

}
.author{
    cursor: pointer;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: min-content;
    border-right: 1px solid lightslategray;
}
.author .authorImage img{
    width: 200px;
    border-radius: 100px;
}
.post{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post > * {padding: 10px;}


.postImage{
    width: 100%;
    display: flex;
}
.postImage > img {
    width: 60%;
}

.postTitle{
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
}
.postTitleContent {
    width: 70%;
    font-size: 2.7em;
    display: flex;
    border-bottom: 1px solid lightslategray;
    padding-bottom: 10px;
}
.postContent{
    width:100%;
    display: flex;
    justify-content: flex-start;
}
.postText{
     width: 90%;
   line-height: 1.8;
    border-top: 1px solid lightslategray;
    font-size: 1.2em;
    white-space: pre-wrap;
}
.vote {
  width: 30px;
  height: 50px;
  margin: 0.2rem;
  padding-left: 1em;
}

.increment {
  text-align: center;
  opacity: .5;
  cursor: pointer;
}

.upvote-button{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid green;
}
.downvote-button{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid red;
}
.increment-active{
    text-align: center;
  opacity: 1;
  cursor: pointer;
}

.increment:hover{
    opacity: 1;
}


.vote-count-display{
  text-align: center;
  width: 30px;
  pointer-events: none;
  font-weight: 900;
}
.vote-total{
    width: 30px;
}
.edit-button{
    display: flex;
    width: 100%;
}
.edit-button > a:hover {
 text-decoration: underline;
}

.comment{
    background-color: white;
    color: black;
    padding-left: 10px;
    border-left: 1px solid lightslategray;
}
.comment h3{
    color: black;
}


.comment{
    display: flex;
    flex-direction: column;
}

.commentsList{
    display: flex;
    flex-direction: column;
}
.comment-input{
    border: 1px solid black;
    color: black;
}

.author .authorName{
    width: 100%;
    margin-bottom: 5px;
}
.author .authorName h3{
    text-align: center;
}

.authorBio{
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.comment-username{
    color: #0f570f;
    margin: 0 auto;
    font-weight: 400;
    padding: 3px;
}

.comment-content{
    color: black;
    margin: 0 auto;
    padding: 6px;
}
.comment-date, .comment-edit, .comment-delete{
    color: black;
    font-weight: normal;
    font-style: italic;
    margin: 0 auto;
    font-size: 0.8em;
    padding: 3px;
}
.comment-container{
    width: 100%;
    border-bottom: 1px solid lightslategray;
}

.comment > form {
    padding-bottom: 5px;
     border-bottom: 1px solid lightslategray;

}

.comment #links{
    display: flex;
    width: min-content;
    height: 0;
    margin: 0;
}

.top-of-comment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-of-comment .comment-username{
    width: 100%;
    text-align: left;
    justify-self: flex-start;
    padding: 0;
    margin: 5px;
}

.top-of-comment .comment-edit {
    position: relative;
}

.edit-comment-text-box{
    border: solid red 5px;
    font-size: 15px;
    color: black;
    width: 250px;
    height: 150px
}
.comment-edit, .comment-delete{
    cursor: pointer;
}
