.profile-header h2 {
    text-align: left;
    padding-left: 25px;
    padding-top: 1em;
    width: 25%;
    background-color: white;
    max-height: 300px;
}

.profile{
	/* display: flex; */
    padding-top: 10px;
    width: 40%;
    margin-left: 20%;

}
div.bioContainer {
    grid-area: bio;
}
div .bioTitle {
    font-size: 1.5em;
}


.username{
    position: relative;
    top: 120px;
    width:  300px;
}
.profile-header img {
    grid-area: img;
    object-fit: contain;
    height: 15em;
}
.profile-header {
    background-color: none;
    padding-top: 90px;
    grid-area: header;
    display: grid;
    grid-template-columns: 15em 30em 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "name img bio"
                        "edit img bio";

    align-items: center;
}
.profile-header h3 {
    grid-area: edit;
    align-self: flex-start;
    padding-left: 1em;
}
.topics-container {
    display: inline-block;
    min-width: 400px;
}
.profile-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 1fr;
    grid-template-areas: 'header header'
                            'body topics';

}
.topics-title{
    width: 100%;
    margin-bottom: 20px;
}
.topics-container {
    overflow-y: visible !important;
    grid-area: topics;

}
.posts {
    grid-area: body;
}
.topics {
    cursor: pointer;
    position: relative;
}

.topics:hover::after{
    content: "Unfollow?";
    position: absolute;
    width: 100px;
    height:40px;
    left: 0px;
    top: -50px;
    background-color: black;
    color: white;
    padding: 0.5em;
    padding-top: 0.7em;
    border-radius: 50%;

    text-align: center;


}

.topics:hover::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    right: 40%;
    bottom: 32px;
}
