h2 {
    text-align: left;
    padding-left: 25px;
}
.profile{

	display: flex;
    padding-top: 10px;
    width: 40%;
    margin-left: 20%;

}
.profile p{
    border: red solid 3px;
    text-align: center;
    padding-top: 10%;
    width: 350px;
}
