.reccomended{
    margin-right: 200px;
    display: flex;
    width: 200px;
    height: 150px;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.reccomended h2{
    background-color: white;
    font-size: medium;
    text-align: center;

}

.reccommendedPostHeader h3, .reccommendedPostContent h5{
    color: black;
    text-align: center;
}
.reccommendedPostContent img{
    width: 200px;
    height: 125px;
    object-fit: cover;
}

.reccomended ul li{
    border: 1px solid #c3c1ab;
    box-shadow: -5px 5px 2px #c3c1ab;
    padding: 10px 10px 10px 15px;
}

#reccomendePostTitle{
    text-align: left;
    font-weight: 900;
    font-size: 1.2em;
    cursor: pointer;
}

#reccomendePostAuthor{
    text-align: left;
    font-size: 14px;
}
