body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  font-size: 2.5em;
  font-weight: 600;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: #C3C1AB;
  width: 100vw;
}
.nav-bar h1 {
  margin-left: 2em;
  margin-right: auto;
  color: #5F7A61;
}
.nav-bar a,input, li {
  color:pink;
  margin: 10px;
  display: inline-block;
  margin-left: auto;
  padding: 5px;
  color: #5F7A61;
  background-color: #C3C1AB;
  border: none;
  font-weight: 800;
  font-size: 1em;
}
